<div class="book-item">
  @let book = book$$();
  @if (book) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{book.name}}</mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
        <mat-chip-set aria-label="Chihuahua traits">
          @for (genre of book.genre; let i = $index; track i) {
            <mat-chip>{{genre}}</mat-chip>
          }
          <mat-chip>{{book.rating}}</mat-chip>
        </mat-chip-set>
      </mat-card-header>
      <mat-card-content>
        <p>{{book.detailed_description}}</p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button matButton routerLink="/">НАЗАД</button>
      </mat-card-actions>
    </mat-card>
  }
</div>
