.book-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  gap: 16px;

  margin: 0 auto;
  height: 100%;
  padding: 16px;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle,
.mat-mdc-card-content {
  color: white;
}
